{% extends "base.html" %}

{% block content %}
</br>
<div class='container'>
	<h1>Cart</h1>

	{% if cart.products.exists %}
	<table class="table table-hover cart-table">
	  <thead>
	    <tr>
			<th>#</th>
			<th scope="col">Product Name</th>
			<th scope="col">Product Price</th>
	    </tr>
	  </thead>
	  <tbody class='cart-body'>
	  	{% for product in cart.products.all %}
	    <tr>
			<th scope="row">{{ forloop.counter }}</th>
		

			<td>{{ product.title }}
			{% include 'carts/snippets/remove-product.html' with product_id=product.id %}
			</td>
			<td>{{ product.price }}</td>
	    

	    </tr>
	    {% endfor %}
	    <tr>
			<td colspan="2"></td>
			<td><b>Subtotal {{ cart.subtotal }}</b></td>

	    </tr>
	    <tr>
			<td colspan="2"></td>
			<td><b>Total {{ cart.total }}</b></td>
	    </tr>
	    <tr>
			<td colspan="2"></td>
			<td> <a class='btn btn-block btn-success' href='{% url "cart:checkout" %}'>Checkout</a> </td>
	    </tr>
	  </tbody>
	</table>

	<div class='cart-item-remove-form' style='display:none'>
    	{% include 'carts/snippets/remove-product.html' %}
	</div>
	
{% else %}
<p class='lead'>Cart is empty</p>
{% endif %}

</div>
{% endblock %}